.header {
  height: 80vh;
  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.grid-section {
  width: 100%;
}
.testimonial-section {
  padding: 15rem 21rem;
}
