@use "../abstracts" as *;
.header {
  min-height: 80vh;
  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  @include respond(phone) {
    background-image: url("../../images/mobile/image-header.jpg");
    min-height: 100vh;
  }
}
.grid-section {
  width: 100%;
}
.testimonial-section {
  padding: 15rem 12rem;
  @include respond(tab-port) {
    padding: 6rem 2rem;
  }
  @include respond(phone) {
    padding: 4rem 2rem;
  }
}
.footer {
  padding: 5rem 4rem;
  background-color: $c-dark-moderate-cyan;
}
