.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__nav {
    margin-block: 2rem 5rem;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}
