@use "../abstracts" as *;
.grid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  .text-box {
    padding-inline: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tab-land) {
      padding: 0 2rem;
    }
  }
  .img-box {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .graphic-img,
  .photography-img {
    height: 54rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 9rem;
    padding-block-end: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .graphic-img {
    background-image: url("../../images/desktop/image-graphic-design.jpg");

    .parag,
    .header-tetiary {
      color: $c-dark-desaturated-blue;
    }
  }
  .photography-img {
    background-image: url("../../images/desktop/image-photography.jpg");
    padding-inline: 10rem;
    .parag,
    .header-tetiary {
      color: $c-dark-blue;
    }
  }
}
